@import "abstract/mixins";
@import "abstract/variables";
@import "abstract/functions";

@import "component/component";

@import "base/animation";
@import "base/typography";
@import "base/base";

@import "layout/home";

// Hamburger styles @ line
.hamburger--wrapper {
  display: none;
  flex-direction: column;
  width: 3rem;
  height: 3.1rem;
  cursor: pointer;
  transition: all 0.3s ease;

  .line {
    width: 80%;
    height: 0.3rem;
    margin: 0.5rem;
    background-color: $link-color;
    border-radius: 7px;
    transition: all 0.3s ease;

    &:nth-child(2) {
      width: 60%;
    }
  }

  @media (max-width: 768px) {
    display: block;
    z-index: 21;
  }
}

//The About Head Style
.about--head {
  display: none;
  width: 60px;
  height: 60px;
  background-color: $white-color;
  border: 5px solid #ececec;
  border-radius: 50px;
  box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.123);
  transition: all 0.3s ease-in-out;

  cursor: pointer;
  z-index: 17;
  outline: none;

  position: absolute;
  top: 5.5rem;
  right: 10px;

  @media (max-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    transform: scale(1.1);
  }

  a {
    padding: 0;
    outline: none;
    color: $link-color;
    font-size: 2rem;

    &:hover {
      color: $link-hover-color;
    }
    img {
      width: 100%;
      margin-top: 7px;
      border-radius: 50px;
    }
  }
}

// The Navigation styles @ line
.nav {
  width: 100%;
  height: 6rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  //border: 1px solid $link-color; //for debugging

  @media (max-width: 768px) {
    justify-content: space-between;
  }
  &--logo {
    width: 15rem;

    @media (max-width: 768px) {
      width: 13rem;
      margin-left: -10px;
    }
  }

  &--list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-weight: 700;
    //border: 1px solid $link-color; //for debugging

    a {
      letter-spacing: 2px;
      transition: all 0.5s ease-in-out;
      padding: 1rem 1.5rem;
      color: $link-color;

      &:hover {
        text-decoration: underline;
        text-underline-position: below;
      }
    }

    @media (max-width: 768px) {
      position: fixed;
      top: 0;
      left: 0;
      padding-bottom: 1rem;
      width: 100%;
      height: 100vh;
      font-size: 1.5rem;
      z-index: 20;

      flex-direction: column;
      transition: all 0.5s ease-out;

      background-color: $background-fade-color;
      clip-path: circle(100px at 90% -30%);

      li {
        opacity: 0;
      }
      li:nth-child(1) {
        transition: all 3s ease 0.2s;
      }
      li:nth-child(2) {
        transition: all 3s ease 0.4s;
      }
      li:nth-child(3) {
        transition: all 3s ease 0.6s;
      }
      li:nth-child(4) {
        transition: all 3s ease 0.8s;
      }

      li.fade {
        opacity: 1;
      }
    }
  }
  .open {
    @media (max-width: 768px) {
      clip-path: circle(2000px at 90% -10%);
    }
  }
}

// Home page Styles

.header {
  font-size: 1rem;
  display: block;
  width: 100%;
  height: 100vh;

  display: grid;
  justify-content: center;
  //align-items: center;
  grid-template-columns: 4fr 5fr 0.7fr;
  grid-template-rows: 80vh 20vh;
  //grid-gap: 5px;

  position: relative;

  @media (max-width: 860px) {
    grid-template-columns: 4fr 0.5fr;
    grid-template-rows: 80vh 20vh;
    overflow: hidden;
  }

  &--home {
    //border: 1px solid $dark-color; //for debugging
  }

  &--description {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 0.5;
    padding-left: 2rem;

    @media (max-width: 860px) {
      align-items: center;
    }

    .description {
      &--greeting {
        color: $text-2-color;
        font-weight: 500;
      }

      &--name {
        color: $link-color;
        font-weight: 900;
        font-size: 3.5rem;
        animation-delay: 1.5s;

        @media (max-width: 540px) {
          font-size: 2.5rem;
        }
      }

      &--tag {
        color: $text-color;
        font-weight: 500;
        & .website {
          color: $link-hover-color;
          cursor: pointer;
        }

        @media (max-width: 900px) {
          font-size: 1.3rem;
          text-align: center;
          line-height: 1.5;
          .website {
            color: $link-hover-color;
          }
        }
      }
    }
  }
  &--image {
    width: 100%;
    height: 100%;
    grid-row: 1 / 3;
    grid-column: 2/2;

    position: relative;
    @media (max-width: 860px) {
      display: none;
    }

    .whyte-image {
      max-width: 113%;
      max-height: 113%;
      position: absolute;
      bottom: 0;
      left: -60px;
    }
  }
  &--portfolio {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    background-color: #fff;

    @media (max-width: 860px) {
      grid-column: 1/-1;
    }

    .portfolio {
      &--image {
        min-width: 100px;
        background-color: #fff;

        @media (max-width: 540px) {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        //border: 1px solid $link-hover-color; for  debugging

        img {
          background-color: #fff;
          width: 100%;
          height: 100%;

          @media (max-width: 540px) {
            height: 90%;
          }
        }
      }

      &--visit {
        background-color: $dark-color;
        padding: 1rem 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        color: $white-color;
        p {
          font-size: 1.1rem;
        }
      }
    }
  }
  &--social-links {
    width: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    padding: 3rem 0.5rem;

    @media (max-width: 540px) {
      padding: 6rem 0.5rem;
    }
    a {
      color: $link-color;
      transform: rotate(-90deg);
      padding: 0.5rem;
      &:hover {
        color: $link-hover-color;
      }
    }
  }
}

// The About Page Styles
.section-about {
  width: 100%;
  height: auto;
  font-size: 1rem;
  color: $link-hover-color;

  display: grid;
  grid-template-columns: 1fr 1.2fr;
  grid-template-rows: 1fr 80px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr) 80px;
  }

  // Color of the Social Links
  a {
    font-size: 1.2rem;
    padding: 1rem;
    color: $text-2-color;
    cursor: pointer;
    outline: none;

    &:hover {
      color: $link-hover-color;
      transform: scale(1.1);
    }

    &:active {
      margin: 0;
    }
  }

  .about {
    height: 100vh;

    &--whyte {
      grid-row: 1/-1;

      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: 768px) {
        grid-row: 1;
      }
      @media (max-width: 560px) {
        height: 450px;
      }
      .about-photo-wrapper {
        width: 420px;
        height: 470px;
        border-radius: 7px;
        background-color: #fff;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.123);

        position: relative;

        @media (max-width: 560px) {
          width: 100%;
          height: 400px;
        }

        .about--photo {
          display: block;
          margin: auto;
          height: 470px;
          border-radius: 7px;

          @media (max-width: 560px) {
            height: 400px;
          }
        }

        .about--social-link {
          position: absolute;
          top: 50%;
          right: -15px;
          transform: translateY(-50%);

          width: 50px;
          background-color: $dark-color;
          border-radius: 5px;

          display: flex;
          flex-direction: column;

          @media (max-width: 560px) {
            right: 0;
          }
        }

        .about--info {
          position: absolute;
          bottom: 0;
          right: 0;

          width: 250px;
          height: 80px;
          padding: 1rem;
          background-color: $link-hover-color;
          color: $text-color;
          text-align: center;

          border-radius: 5px 0 5px 0;
          .info {
            &--role {
              color: $white-color;
              font-weight: 500;
            }
            &--name {
              font-size: 1.7rem;
            }
          }
        }
      }
    }

    &--skills {
      width: 100%;
      color: $text-color;
      padding: 1.5rem;

      @media (max-width: 768px) {
        text-align: center;
      }
      @media (max-width: 560px) {
        margin-bottom: 5rem;
        margin-top: -5rem;
      }

      &--bio {
        line-height: 1.5;
        margin-bottom: 1rem;
        font-size: 1.2rem;
      }

      &--tech {
        .title {
          font-size: 2rem;
        }
        .tools {
          width: 100%;
          height: 100%;

          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: flex-start;

          @media (max-width: 768px) {
            justify-content: center;
          }

          &--wrapper {
            min-width: 150px;
            height: 130px;
            margin: 0.5rem;
            background-color: #ffff;
            border-radius: 3px;
            box-shadow: 0 10px 20px 7px rgba(29, 29, 29, 0.123);

            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 4fr 1fr;

            @media (max-width: 560px) {
              min-width: 110px;
              height: 90px;
              margin: 1rem 0.5rem;
            }
          }
          .javascript {
            background-color: #f0db4f;
          }
          .html {
            background-color: #e44d26;
          }
          .css {
            background-color: #1572b6;
          }

          &--logo {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;

            img {
              max-height: 58px;

              @media (max-width: 560px) {
                max-height: 40px;
              }
            }
          }

          &--name {
            background-color: $background-fade-color;
            border-radius: 0 0 3px 3px;
            font-size: 1.1rem;
            font-weight: 500;
            padding: 0.6rem;
            text-align: center;
          }
        }
      }

      @media (max-width: 768px) {
        width: 100vw;
        grid-row: 2;
      }
    }
    &--footer {
      grid-column: 2 / -1;
      height: 100%;

      display: flex;
      justify-content: flex-end;
      align-items: flex-end;

      @media (max-width: 768px) {
        grid-column: 1;
        grid-row: 3;
      }
      .powered {
        display: flex;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;

        width: 200px;
        padding: 0.5rem 1rem;
        background-color: $dark-color;
        border-radius: 5px 0 0 5px;

        @media (max-width: 768px) {
          justify-content: center;
          width: 100%;
          height: 100%;
          border-radius: 0;

          &--logo {
            margin: 0 0.5rem;
          }
        }
        &--text {
          color: $white-color;
        }
        &--logo {
          width: 30px;
        }
      }
    }
  }
}

.section-contact {
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  color: $text-color;

  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 450px);
  grid-template-rows: 400px;

  @media (max-width: 768px) {
    grid-template-columns: 450px;
    grid-template-rows: repeat(2, 400px);
    //margin: 0 1rem;
  }
  @media (max-width: 568px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 350px);
  }
  .contact-box {
    width: 100%;
    height: 100%;

    @media (max-width: 568px) {
      padding-left: 4rem;
    }
    //border: 1px solid #444;
  }

  &--whyteweb {
    width: 100%;
    background-color: $contact-white;
    border-radius: 5px 0 0 5px;
    font-size: 1.2rem;
    padding: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    @media (max-width: 768px) {
      grid-row: 2/2;
    }

    img {
      width: 15rem;
    }

    .contact-links {
      .phone-add,
      .mail-add {
        display: flex;
        margin-bottom: 1rem;

        p {
          margin-left: 1rem;
        }
      }
    }

    .contact-social-links {
      a {
        padding: 0.5rem 1rem;
        background-color: $link-color;
        color: $white-color;

        border-radius: 3px;

        &:hover {
          color: $link-hover-color;
        }
      }
    }
  }

  &--form {
    padding: 3rem;
    background-color: $contact-orange;
    border-radius: 0 5px 5px 0;
    font-size: 1rem;

    h1 {
      font-size: 1.7rem;
    }
    form {
      width: 100%;
      justify-content: flex-end;

      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .input-wrapper {
        width: 100%;
        position: relative;
      }
      .form-inputs {
        background-color: transparent;
        border: none;
        border-bottom: 2px solid $dark-color;
        margin: 1rem 0 1rem 0;
        outline: none;
        transition: all 0.3s ease-in-out;
        padding: 0.5rem 1rem;

        color: $text-color;

        &:focus {
          background-color: rgba(68, 68, 68, 0.062);
        }
      }
      input {
        width: 100%;
        font-size: 1rem;
      }

      label {
        position: absolute;
        top: 15px;
        left: 10px;
        color: $text-2-color;
        transition: all 0.3s ease-in-out;
      }

      .label-email-anim,
      .label-message-anim {
        top: 0;
      }

      textarea {
        width: 100%;
        font-size: 1.3rem;
      }
    }
  }
}
