// Color Variables
$background-color: rgb(245, 245, 245);
$background-fade-color: rgba(245, 245, 245, 0.884);
$dark-color: rgb(20, 20, 20);
$link-color: rgb(20, 20, 20);
$link-hover-color: rgb(253, 162, 26);
$text-color: rgb(40, 40, 40);
$white-color: rgb(240, 240, 240);
$text-2-color: #666666;
