// Color Variables
$background-color: rgb(6, 13, 19);
$background-fade-color: rgba(6, 13, 19, 0.959);
$background-fade2-color: rgba(6, 13, 19, 0.877);
$link-color: rgb(214, 214, 214);
$link-hover-color: rgb(248, 169, 21);
