@import "../abstract/variables";
//Hamburger Animation styles Onclick anim is added to the Hamburger
.anim-hamburger > .line {
  &:nth-child(1) {
    transform: translateY(5px) rotateZ(-45deg);
  }
  &:nth-child(2) {
    display: none;
  }
  &:nth-child(3) {
    transform: translateY(-5px) rotateZ(45deg);
  }
}
