@import "../abstract/variables";

//Reset styles
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

// Base Style
body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  background: linear-gradient(
      to right,
      ($background-fade-color),
      ($background-fade-color)
    ),
    url(../images/background.jpg) center no-repeat;
  background-size: cover;

  color: #333;
}

.container {
  display: block;
  max-width: 1148px;
  margin: 0 auto;
  padding: 0.5rem;

  @media (max-width: 768px) {
  }
}
