@import "../abstract/variables";

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.4rem;
  line-height: 1.5;
}

a {
  &:link,
  :active,
  :visited {
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
    outline: none;
  }
}
