@import "../abstract/variables";

.btn {
  display: inline-block;
  width: 150px;
  padding: 0.7rem 1rem;
  border: none;
  background-color: $link-color;
  color: $white-color;
  transition: all 0.3s ease-in-out;
  outline: none;
  margin: 0.5rem 0;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  cursor: pointer;

  &--contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    transform: translateY(-30px);
    font-size: 0.9rem;
    letter-spacing: 1px;

    &:active {
      background-color: rgb(31, 31, 31);
    }
    &:hover > i {
      margin-left: -10px;
    }

    i {
      color: $link-hover-color;
      font-size: 1.1rem;
      transition: all 0.3s ease-in-out;
    }
  }

  &--portfolio {
    background-color: $link-hover-color;
    color: $link-color;
    margin-bottom: 1rem;
    &:hover > i {
      transition: all 0.3s ease-in-out;
      margin-left: 10px;
    }
  }

  &--submit {
    text-align: center;
    border-radius: 3px;

    i {
      margin: 0 10px 0 -10px;
      transition: margin-left 0.3s ease-in-out;
    }
    &:hover {
      color: $link-hover-color;
    }
    &:active {
      i {
        margin-left: -15px;
      }
    }
  }
}
